# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Environments
.venv/
venv/
.env

# Django
staticfiles/
static/
media/
*.log

# SQLite DB
*.sqlite3

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Render/Vercel build artifacts
.build/
